.App {
  margin: 10%;
  padding: 10%;
  text-align: center;
  border: 2px solid;
  border-radius: 5px;
}

.Api {
  display: flex;
  justify-content: center;
}

.SelectBox {
  -webkit-appearance: none;
  padding: 1%;
  width: 200px;
  border-radius: 2px 2px 0px 0px;
  color: white;
  background-color: rgba(14, 43, 87);
  box-shadow: 1px 1px rgba(14, 43, 87, 0.6);
}


.SelectItem {
  text-align: center;
  color: white;
  background-color: rgba(14, 43, 87);
}

.Text {
  margin-top: 10%;
}
